{% extends 'base.html' %}
{% load static %}


{% block content %}
<section id="card">
		<div class="container">
			<div class="card ficb">
				<div class="card__block card__block_first">
					<img src="{{ bouquet.image.url }}" alt="img" class="card__img">
				</div>
				<div class="card__block card__block_sec">
					<div class="title">{{ bouquet.name }}</div>
					<div class="card__block_price">{{ bouquet.price }} руб</div>
					<div class="card__elems ">
						<span class="card__elems_intro">Состав</span>
						<div class="card__items">
              {% for component in bouquet.compound_as_list %}
							<span class="card_items_intro">
								{{ component }}
							</span>
							{% endfor %}
						</div>
					</div>
					<div class="card__elems ">
						<span class="card__elems_intro">Размер</span>
						<div class="card__items">
							<span class="card_items_intro">
								Высота - {{ bouquet.height }} см
							</span>
							<span class="card_items_intro">
								Ширина - {{ bouquet.width }} см
							</span>
						</div>
					</div>
          <a href="{% url 'order' bouquet.id %}">
					<button class="btn largeBtn card__btn">Заказать букет</button>
          </a>
				</div>
			</div>
		</div>
	</section>
  {% include 'components/consultation.html' %}
{% endblock %}