{% extends 'base.html' %}
{% load static %}

{% block content %}

  {% if not step == 3 %}
    <section id="quiz">
      <div class="container">
        <div class="quiz">
          <div class="quiz__back ">
            {% if step == 2 %}
              <a href="{% url 'recommendations' %}" class="quiz__back_link fic">
                <img src="{% static 'img/arrow-left.svg' %}" alt="arrow-left" class="arrowLeft">
                <span class="quiz__back_intro">Назад</span>
              </a>
            {% endif %}
          </div>

          <div class="quiz__block">
            {% if step == 1 %}
              <h1 class="quiz__title">К какому событию нужен букет?</h1>
              <form action="" method="post">
                <div class="quiz__elems fic">
                  {% for event in events %}
                    <button class="quiz__elem" name="event" value="{{ event.id }}">{{ event.name }}</button>
                  {% endfor %}
                  {% csrf_token %}
                </div>
              </form>
            {% endif %}
            {% if step == 2 %}
              <h1 class="quiz__title">На какой бюджет рассчитываете?</h1>
              <form action="" method="post">
                <div class="quiz__elems fic">
                  <button class="quiz__elem" name="price" value="0-1000">До 1 000 руб</button>
                  <button class="quiz__elem" name="price" value="1000-5000">1 000 - 5 000 руб</button>
                  <button class="quiz__elem" name="price" value="5000-999999999">от 5 000 руб</button>
                  <button class="quiz__elem" name="price" value="0-999999999">Не имеет значения</button>
                  {% csrf_token %}
                </div>
              </form>
            {% endif %}
            <div class="quiz__progress">
              <div class="quiz__progress_step">
                <span class="quiz__progress_num">{{ step }}</span>
                <span class="quiz__progress_in"> шаг из </span>
                <span class="quiz__progress_num">2</span>
              </div>
              <div class="quiz__progress_line">
                <div class="quiz__progress_lineActive"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endif %}

  {% if step == 3 %}
    <section id="result">
      <div class="container">
        <div class="result p100">
          {% if bouquet %}
            <div class="title">Мы подобрали специально для Вас</div>
            <div class="result__block ficb">
              <div class="result__elems">
                <div class="card__elems ">
                  <span class="card__elems_intro">Описание:</span>
                  <div class="card__items">
                    <p class="card__items_text card__items_text__first">
                      {{ bouquet.description }}
                    </p>
                  </div>
                </div>
                <div class="card__elems ">
                  <span class="card__elems_intro">Состав:</span>
                  <div class="card__items">
                    <p class="card__items_text card__items_text__first">
                      {{ bouquet.compound }}
                    </p>

                  </div>
                </div>
              </div>
              <img src="{{ bouquet.image.url }}" alt="result Img" class="result__block_img">
              <div class="result__items">
                <div class="title result__items_title">{{ bouquet.name }}</div>
                <div class="result__items_price">{{ bouquet.price }}</div>
                <a href="{% url 'order' bouquet.id %}">
                  <button class="btn result__items_btn">Заказать букет</button>
                </a>
                <hr class="result__items_line"/>
                <div class="result__items_intro">Хотите что-то более специальное?</div>
                <div class="result__items_block">
                  <a href="{% url 'catalog' %}">
                    <button class="btn largeBtn result__items_block__btn">Смотреть всю коллекцию</button>
                  </a>
                  </br>
                  <a href="#consultation">
                    <button class="btn largeBtn result__items_block__btn">Заказать консультацию</button>
                  </a>
                </div>
              </div>
            </div>
          {% else %}
            <div class="title">Нет подходящего букета :(</div>
          {% endif %}
        </div>
      </div>
    </section>
    {% if bouquet %}
      {% include 'components/contacts.html' %}
      {% include 'components/consultation.html' %}
    {% endif %}
  {% endif %}
{% endblock %}