{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section id="quiz">
    <div class="container">
      <div class="quiz">
        <div class="quiz__back ">
          <a href="#" class="quiz__back_link fic">
            <img src="{% static 'img/arrow-left.svg' %}" alt="arrow-left" class="arrowLeft">
            <span class="quiz__back_intro">Назад</span>
          </a>
        </div>
        <div class="quiz__block">
          <h1 class="quiz__title">К какому событию нужен букет?</h1>
          <div class="quiz__elems fic">
            <button class="quiz__elem">Свадьба</button>
            <button class="quiz__elem">День рождения</button>
            <button class="quiz__elem">Без повода</button>
          </div>
          <div class="quiz__progress">
            <div class="quiz__progress_step">
              <span class="quiz__progress_num">1</span>
              <span class="quiz__progress_in"> шаг из </span>
              <span class="quiz__progress_num">2</span>
            </div>
            <div class="quiz__progress_line">
              <div class="quiz__progress_lineActive"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="quiz">
    <div class="container">
      <div class="quiz">
        <div class="quiz__back ">
          <a href="#" class="quiz__back_link fic"><img src="{% static 'img/arrow-left.svg' %}" alt="arrow-left"
                                                       class="arrowLeft">
            <span class="quiz__back_intro">Назад</span></a>
        </div>
        <div class="quiz__block">
          <h1 class="quiz__title">На какой бюджет рассчитываете?</h1>
          <div class="quiz__elems fic">
            <button class="quiz__elem">До 1 000 руб</button>
            <button class="quiz__elem">1 000 - 5 000 руб</button>
            <button class="quiz__elem">от 5 000 руб</button>
            <button class="quiz__elem">Не имеет значения</button>
          </div>
          <div class="quiz__progress">
            <div class="quiz__progress_step">
              <span class="quiz__progress_num">1</span>
              <span class="quiz__progress_in"> шаг из </span>
              <span class="quiz__progress_num">2</span>
            </div>
            <div class="quiz__progress_line">
              <div class="quiz__progress_lineActive"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="result">
    <div class="container">
      <div class="result p100">
        <div class="title">Мы подобрали специально для Вас</div>
        <div class="result__block ficb">
          <div class="result__elems">
            <div class="card__elems ">
              <span class="card__elems_intro">Описание:</span>
              <div class="card__items">
                <p class="card__items_text card__items_text__first">
                  Этот букет передает атмосферу летнего утра в деревне. Букет создан из свежих полевых цветов, собранных
                  в самом сердце природы. В состав букета входит ромашка, пионовидная роза, альстромерия, эустома,
                  веточка эвкалипта, декоративная зелень. Все цветы собраны вручную и аккуратно высушены.
                </p>
                <p class="card__items_text">
                  Букеты из полевых цветов - это не только прекрасный подарок, но и отличный способ выразить свои
                  чувства.
                </p>
              </div>
            </div>
            <div class="card__elems ">
              <span class="card__elems_intro">Состав:</span>
              <div class="card__items">
                <p class="card__items_text card__items_text__first">
                  Альстромерия белая 1 шт., Эустома белая 1 шт, Ромашка 1 шт, Роза пионовидная 1 шт
                </p>

              </div>
            </div>
          </div>
          <img src="{% static 'img/cardImg.jpg' %}" alt="result Img" class="result__block_img">
          <div class="result__items">
            <div class="title result__items_title">Летнее утро</div>
            <div class="result__items_price">3 600 руб</div>
            <button class="btn result__items_btn">Заказать букет</button>
            <hr class="result__items_line"/>
            <div class="result__items_intro">Хотите что-то более специальное?</div>
            <div class="result__items_block">
              <button class="btn largeBtn result__items_block__btn">Смотреть всю коллекцию</button>
              <button class="btn largeBtn result__items_block__btn">Заказать консультацию</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include 'components/contacts.html' %}
  {% include 'components/consultation.html' %}
{% endblock %}